.navigation__title {
  display: flex;
  margin-bottom: 10px;
  position: relative;
}

.navigation__title:last-child {
  margin-bottom: 0;
}

.navigation__title::before {
  content:"";
  background-image: url(../../../../public/image/бключ.png);
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 2px;
  position: absolute;
  top: 0px;
  left: 0px;
}

@media screen and (max-width: 600px) {
  .navigation__title::before {
    width: 15px;
    height: 15px;
  }
}