.page {
  min-width: 320px;
  max-width: 1280px;
  /* height: 100vh; */
  margin: 0 auto;
  background-color: #000000;
  position: relative;
  padding: 5px;
  font-family: 'Unbounded', Arial, Helvetica, sans-serif;
  opacity: 0.9;
  display: grid;
  grid-template-rows: min-content auto min-content;
  min-height: 100vh;
  box-sizing: border-box;
}
