.footer__copyright {
  color: rgb(145, 150, 154);
  font-size: 40%;
  margin: 0;
  padding: 15px 0px 15px 5px;
}

@media screen and (min-width:600px) {
  .footer__copyright {
    font-size: 100%;
  } 
}