.footer__link-vk {
  font-size: 40%;
  display: block;
  color: white;
  text-decoration: none;
  margin-left: auto;
  padding: 15px 5px 15px 5px;
  color: rgb(145, 150, 154);
}

@media screen and (min-width: 600px) {
  .footer__link-vk {
    font-size: 100%;
  }
}

.footer__link-vk:hover {
  opacity: 0.7;
}
